body {
    background-color: #d8ecf3;
    font-family: "Josefin Sans", sans-serif;
}

#OlTimer {
    margin-left: 69%;
    font-size: 24px;
}

#CodingQuizStart {
    display: initial;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-left: 30%;
}

p {
    font-size: 14px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.StartButton {
    font-size: 32px;
    text-align: center;
    height: 64px;
    width: 192px;
}

.RestartButton {
    font-size: 18px;
    text-align: center;
    margin-left: 30%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Q1 {
    display: none;
    font-size: 24px;
    vertical-align: 32px;
}

#Q2 {
    display: none;
    font-size: 24px;
    vertical-align: 32px;
}

#Q3 {
    display: none;
    font-size: 24px;
    vertical-align: 32px;
}

#Q4 {
    display: none;
    font-size: 24px;
    vertical-align: 32px;
}

#Q5 {
    display: none;
    font-size: 24px;
    vertical-align: 32px;
}

.btn-group .QButton {
    display: block;
    Margin-left: 30%;
}

#CorrectAnswer {
    display: none;
    font-size: 24px;
    Margin-left: 30%;
}

#IncorrectAnswer {
    display: none;
    font-size: 24px;
    Margin-left: 30%;
}

#Quizdone {
    display: none;
    font-size: 24px;
    Margin-left: 30%;
}

.FinalScores {
    Margin-left: 30%;
}